extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h1 This is an index page.

block scripts
  script(src='/javascripts/index.js')
  script.
    console.log "hello 2"
