doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='/assets/bootstrap-3.0.0/css/bootstrap.min.css', media='screen')
    block css
  body
    block content
    script.
        window.console = window.console or { log: function () {} }
    //if lt IE 8
        script(src='/javascripts/jquery-1.10.2.min.js')
    //if gte IE 9
        <!--><script src='/javascripts/jquery-2.0.3.min.js'></script>

    if (env == "development")
        script(src='/assets/bootstrap-3.0.0/js/bootstrap.js')
    else
        script(src='/assets/bootstrap-3.0.0/js/bootstrap.min.js')
    block scripts